.contactItem {
  border: 1px solid var(--light-text);
  border-radius: 0.25rem;
  padding: 1rem;

  & p {
    font-size: smaller;
    color: var(--darker-text);
  }

  & span {
    font-size: 250%;
  }
}
