.borderIntermed {
  width: 65%;
}

.borderAdv {
  width: 80%;
}

.borderAdvBeg {
  width: 40%;
}

.borderBeg {
  width: 25%;
}

.scale {
  height: 5px;
  background: var(--darker-text);
  border-right: var(--light-text) solid 50rem;
}

.techItem {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
}

.techSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .techSection {
    flex-direction: row;
    gap: 2rem;

    & ul {
      width: 50%;
      overflow-x: hidden;
    }
  }
}
