.introArticle {
  height: 100vh;
  color: var(--light-text);
  background-image: url("../../assets/images/background-intro.jpeg");
  background-size: cover;
  background-position: center;
  font-weight: 900;

  .buttonDownload {
    width: fit-content;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: inherit;

    &:hover {
      transform: scaleX(1.1);
      transition: ease-out 0.25s;
    }
  }

  .nextLink {
    padding-top: 1rem;

    &:hover {
      transform: translateY(-1rem);
      transition: ease-in-out 0.25s;
    }
  }

  .helloSection {
    display: flex;
    height: calc(100% - 4rem);
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}
