:root {
  --light-text: rgb(194, 183, 173);
  --darker-text: rgb(107, 101, 97);
  --dark-text: rgb(74, 69, 64);
  --darker-text-opacity: rgba(107, 101, 97, 0.9);
  --light-text-opacity: rgba(194, 183, 173, 0.9);
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  width: 100vw;
  min-width: 420px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--dark-text);
}

h2 {
  margin: 0;
}

article {
  padding: 5rem 1rem;
  scroll-margin-block-start: -1rem;
}

article h2::after {
  color: var(--light-text);
  font-size: small;
  content: "──   ⋆⋅☆⋅⋆    ──";
  display: block;
  margin-bottom: 1rem;
}

.pompiere-font {
  font-family: "Pompiere", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.truculenta-font {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 4.75rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.material-symbols-outlined {
  color: var(--darker-text);
}

.button-transparent {
  border-radius: 2rem;
  line-height: 2rem;
  border: 2px solid var(--light-text);
  background: none;
  color: inherit;
  margin: 1rem 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  display: flex;
  color: var(--darker-text);
}

section {
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 368px) {
  h1,
  h2 {
    font-size: 1em;
  }
}
