:root {
  --light-text: hsl(27, 15%, 72%);
  --darker-text: hsl(27, 5%, 40%);
  --dark-text: hsl(30, 7%, 27%);
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--dark-text);
}

h2 {
  margin: 0;
}

article {
  padding: 5rem 4rem 0;
  scroll-margin-block-start: -1rem;
}

article h2::after {
  color: var(--light-text);
  font-size: small;
  content: "──   ⋆⋅☆⋅⋆    ──";
  display: block;
}

.pompiere-font {
  font-family: "Pompiere", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.truculenta-font {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-size: 5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-transparent {
  border-radius: 2rem;
  line-height: 2rem;
  border: 2px solid var(--light-text);
  background: none;
  color: inherit;
  margin: 1rem 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  display: flex;
  color: var(--darker-text);
}
